<!-- Blockly Webpage.html*/ -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Proyecto de Compiladores: GIJACK</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<div class="header">
  <div class="title">
    <h1>GIJACK COMPILER</h1>
    <h4 style="color:#ccc">Ⓒ Meep 2016</h4>
  </div>
</div>

<!--Blocky div where the content will be loaded -->
<div class="content">
  <div class="section">
    <div class="tab"><span>Blocks</span></div>
    <div id="blocklyDiv" class="tab-content">
    </div>
  </div>

  <div class="section">
    <div class="tab"><span>Code</span></div>
    <div class="code">
      <textarea id="textarea" rows="4" cols="50" name="code"></textarea>
      <button onclick="return compile();">Compilar</button>
    </div>
    <div class="term">
      <ul id="term-lines">
      </ul>
    </div>
  </div>
</div>

<!-- core Blockly script and the core blocks set -->
<script src="/static/blockly_compressed.js"></script>
<script src="/static/blocks_compressed.js"></script>
<script src="/static/gijack_compressed.js"></script>
<script src="/static/es.js"></script>

<!--structure of the toolbox-->
<xml id="toolbox" style="display: none">
  <category name="Logica" colour="120">
    <block type="logic_compare"></block>
    <sep gap="20"></sep>
    <block type="logic_operation"></block>
    <sep gap="20"></sep>
    <block type="logic_boolean"></block>
    <sep gap="20"></sep>
    <block type="controls_if"></block>
    <sep gap="20"></sep>
    <block type="logic_negate"></block>


  </category>
  <sep gap="32"></sep>

  <category name="Ciclos" colour="160">
    <block type="controls_whileUntil"></block>
    <block type="for"></block>
    <block type="ciclos_dowhile"></block>
  </category>
  <sep gap="32"></sep>

  <category name="Matematicas" colour="200">
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>

    <block type="math_modulo"></block>

  </category>
  <sep gap="32"></sep>

  <category name="Variables" colour="240">
    <block type="var_dec"></block>
    <block type="use_var"></block>
    <block type="assign_var"></block>
    <block type="varis_item"></block>

  </category>
  <sep gap="32"></sep>

  <category name="Funciones" colour="280">
    <block type="procedures_main2"></block>
    <block type="procedures_defreturn"></block>
    <block type="proc"></block>
    <block type="proc_arg"></block>
    <block type="return"></block>
    <block type="func_call"></block>
    <block type="func_calls"></block>
    <block type="procedures_defnoreturn"></block>
    <block type="procedures_expresion"></block>
    <block type="procedures_express"></block>
    <block type="pro_exp"></block>
    <block type="proced_exp"></block>
    <block type="create_main"></block>
    

  </category>
  <sep gap="32"></sep>

  <category name="Strings" colour="320">
    <block type="text"></block>
    <block type="text_print"></block>
    <block type="procedures_input"></block>

  </category>
  <sep gap="32"></sep>

  <category name="Listas" colour="360">
    <block type="lista_dec"></block>
    <block type="lista_asig"></block>

  </category>

</xml>
<!-- Injecting Blockly into an empty div. This script should be at the bottom of the page, or called by the onload event. -->

<script>
function updateCode() {
  var header = "program meep;\n"
  var code = Blockly.gijack.workspaceToCode(workspace);
  document.getElementById('textarea').value = header + code;
}

function autoUpdate() {
  updateCode();
  setTimeout(autoUpdate, 1000);
}

function compile() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/compile', true);
  xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  xhr.onload = function () {
      var response = JSON.parse(this.response);
      if (response.errors.length > 0) {
        for (var i = 0; i < response.errors.length; i++)
        {
          addLine(response.errors[i], 'error');
        }
      }
      else
      {
        addLine('Compiled successfully.', 'compile');
        console.log(response);

        for (var i = 0; i < response.prints.length; i++)
        {
          addLine(response.prints[i], 'print');
        }
      }
  };
  xhr.send('code='+encodeURIComponent(document.getElementById('textarea').value));
  addLine('Compiling...', 'compile');
}

function addLine(text, klassName) {
  var terminal = document.getElementById('term-lines');
  var line = document.createElement('li');
  line.appendChild(document.createTextNode(text));
  line.setAttribute('class', klassName);
  terminal.appendChild(line);
}

setTimeout(autoUpdate, 500);
</script>
<script>
var workspace = Blockly.inject('blocklyDiv', {
  toolbox: document.getElementById('toolbox'),
  grid: {
    spacing: 25,
    length: 2,
    colour: '#ccc',
    snap: true
  },
  trashcan: true,
  zoom:
  {
    controls: false,
    wheel: true,
    startScale: 1.0,
    maxScale: 2,
    minScale: 0.5,
    scaleSpeed: 1.2
  },
});
</script>
</body>
</html>
